<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tbody>
				<tr>
					<td>
						<div class="icon" ng-click="nextPage('/packages', true);">
							<img class="icon-img" src="images/pack.png"></img>
							<div class="icon-txt">Packages</div>
						</div>
					</td>
					<td>
						<div class="icon"><!-- ng-click="nextPage('/information');"-->
							<img class="icon-img" src="images/info.png"></img>
							<div class="icon-txt">Information</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="td">
						<div class="icon" ng-click="nextPage('/assistance', true);">
							<img class="icon-img" src="images/help.png"></img>
							<div class="icon-txt">Assistance</div>
						</div>
					</td>
					<td class="td">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>