<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="icon">
                            <img class="icon-img" src="images/box.png"></img>
                            <div class="icon-txt">Package 1</div>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <img class="icon-img" src="images/box.png" />
                            <div class="icon-txt">Package 2</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>